{% block form_widget_compound %}
    <div {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {% if form.vars.groups is defined %}
            {% for group,items in form.vars.groups %}
                <fieldset>
                    <legend>{{ group|title }}</legend>
                    {% for item in items %}
                        {{ form_row(form[item]) }}
                    {% endfor %}
                </fieldset>
            {% endfor %}
        {% endif %}
        {% if form.vars.tabs is defined %}
            <div class="super-form-tabs">
                {% set tab_count = 0 %}
                {% for namespace,tabs in form.vars.tabs %}
                    {% if namespace != 'system' %}
                        {% for tab in tabs %}
                            {% set tab_count = tab_count + 1 %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% if tab_count > 1 %}
                    {% for namespace,tabs in form.vars.tabs %}
                        {% if namespace != 'system' %}
                            <ul id="{{ namespace }}" class="nav super-form-tabs-line">
                                {% for tab in tabs %}
                                    <li>
                                        <a id="{{ namespace }}-{{ tab.name }}-tab" class="super-form-tabs-link{{ loop.first ? ' active' : '' }}" href="#{{ namespace }}-{{ tab.name }}" data-toggle="tab">{{ tab.label|raw }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% for namespace,tabs in form.vars.tabs %}
                    {% for tab in tabs %}
                        {% if tab.name == 'header' %}
                            <div class="super-form-tab-item super-form-tab-header">
                                <div class="tab-pane active">
                                    {% for element in tab.elements %}
                                        {{ form_row(form[element]) }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% for namespace,tabs in form.vars.tabs %}
                    {% if namespace != 'system' %}
                        <div class="super-form-tab-item super-form-tab-content">
                            {% for tab in tabs %}
                                <div class="tab-pane{{ loop.first ? ' active' : ' fade' }}" id="{{ namespace }}-{{ tab.name }}" role="tabpanel" aria-labelledby="{{ namespace }}-{{ tab.name }}-tab">
                                    {% for element in tab.elements %}
                                        {{ form_row(form[element]) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}

                {% for namespace,tabs in form.vars.tabs %}
                    {% for tab in tabs %}
                        {% if tab.name == 'footer' %}
                            <div class="super-form-tab-item super-form-tab-footer">
                                <div class="tab-pane active">
                                    {% for element in tab.elements %}
                                        {{ form_row(form[element]) }}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>
{% endblock form_widget_compound %}
